body {
    background-color: rgb(47, 255, 193);
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }
  div {
    background-color: wheat;
    width: 700px;
    border: 10px solid green;
    padding: 50px;
    margin: 20px;
    text-align: left;
    font-size: 20px;
    margin: 0 auto;
  }
  #b {
    background-color: yellow;
    border: 2px solid black;
    color: rgb(3, 3, 3);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  table {
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    font-size: 25px;
  }
  